.gallery-page {
  text-align: center;
  padding: 20px;
}

.upload-form {
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 14px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 20px ; */
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* All photos are 200px wide */
  gap: 10px; /* Optional gap between photos */
}

.gallery-image {
  display: flex;
  flex-direction: column; /* Stack image and button vertically */
  align-items: center; /* Center-align the image and button */
  margin-bottom: 20px; /* Add space below the entire image container */
}


.gallery-image img {
  border: 1.5px solid rgb(252, 254, 176);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the images fill the space proportionally */
}

h2{
  color: greenyellow;
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}
h3{
  color: greenyellow;
  font-size: 1.5rem;
  /* padding: 0px;
  margin: 0px; */
}

.delete-button {
  margin-top: 5px;
  background-color: greenyellow;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: rgb(152, 199, 82);
}
